<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome!</title>
	<link rel="stylesheet" href="themes/pertemuan2.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>
	<script src="scripts/load_menus.js"></script>
	<link rel="stylesheet" href="css/core-style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700" rel="stylesheet">
</head>

<body>

	<div class="main-content-wrapper d-flex clearfix">
		<div class="mobile-nav">
			<div class="amado-navbar-brand">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 45px"></a>
			</div>
			<div class="amado-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>
		<header class="header-area clearfix">
			<div class="nav-close">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 65px"></a>
			</div>
			<div style="padding-top: 150px;">
				<h4 id="greetings"></h4>
			</div>
			<nav class="amado-nav" style="margin-top: 30px">
				<ul>
					<li class="active"><a href="shop.html">Menu</a></li>
					<li><a href="cart.html">Cart</a></li>
				</ul>
			</nav>
		</header>
		<div class="shop_sidebar_area shader">
			<div class="widget catagory mb-50">
				<h6 class="widget-title mb-30">Catagories</h6>
				<div class="catagories-menu">
					<ul>
						<li class="active"><a href="#express_bowl">Express Bowl</a></li>
						<li><a href="#spesial" data-ajax="false">Spesial</a></li>
						<li><a href="#mie" data-ajax="false">Mie</a></li>
						<li><a href="#minuman" data-ajax="false">Minuman</a></li>
						<li><a href="#snack" data-ajax="false">Snack</a></li>
						<li><a href="#lain" data-ajax="false">Lainnya</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col bg-n-white1" id="main" id="tabs">
			<ul data-role="listview" data-inset="true" id="menusListView">

			</ul>
		</div>
	</div>

	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
	<script>
		let mDate = new Date();
		var hour = mDate.getHours();
		var greet;

		if (hour < 12)
			greet = 'Good morning.';
		else if (hour >= 12 && hour <= 17)
			greet = 'Good afternoon.';
		else if (hour >= 17 && hour <= 24)
			greet = 'Good evening.';

		document.getElementById('greetings').innerHTML = greet;
	</script>
</body>

</html>