<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cart</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/core-style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700" rel="stylesheet">
	<script src="http://localhost:9000/app/scripts/view_order.js"></script>
</head>

<body>
	<div class="main-content-wrapper d-flex clearfix">
		<div class="mobile-nav">
			<div class="amado-navbar-brand">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 45px"></a>
			</div>
			<div class="amado-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>
		<header class="header-area clearfix shader">
			<div class="nav-close">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 65px"></a>
			</div>
			<div style="padding-top: 150px;">
				<h4 id="greetings"></h4>
			</div>
			<nav class="amado-nav" style="margin-top: 30px">
				<ul>
					<li><a href="http://localhost:9000/app/menus">Menu</a></li>
					<li class="active"><a href="http://localhost:9000/app/viewOrder">Cart <span id="badgecart" class="badge badge-danger">!</span></a></li>
				</ul>
			</nav>
		</header>

		<div class="col bg-n-white1" id="cart">

			<!--<nav class="card p-3" style="margin: 10px">
				<h5 class="card-title float-left">Navbar</5>
				<button class="btn amado-btn float-right">Process</button>
			</nav>-->

			<!--<footer class="footer p-3" style="position: relative; z-index: 1; width:100%; bottom: 25px;">
				<p class="float-left">Navbar</p>
			</footer>-->
		

			<ul data-role="listview" data-inset="true" id="menusListView">

				<div class="card-me sticky-top" id="card_me">
					<h5>Total Price</h5>
					<label id="totalPrice"> Rp. Price (Place Total Price in here) </label>
					<button class="btn amado-btn float-right" onclick="onProcess()">Process</button>
				</div>
				<div id="menuItemsListView">

				</div>
			</ul>
		</div>
	</div>

	<script>
		let mDate = new Date();
		var hour = mDate.getHours();
		var greet;

		if (hour < 12)
			greet = 'Good morning.';
		else if (hour >= 12 && hour <= 17)
			greet = 'Good afternoon.';
		else if (hour >= 17 && hour <= 24)
			greet = 'Good evening.';

		document.getElementById('greetings').innerHTML = greet;
	</script>
</body>

</html>