<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome!</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>
	<script src="scripts/load_menus.js"></script>
	<link rel="stylesheet" href="css/core-style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700" rel="stylesheet">
</head>

<body>
	<div class="main-content-wrapper d-flex clearfix">
		<div class="mobile-nav">
			<div class="amado-navbar-brand">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 45px"></a>
			</div>
			<div class="amado-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>
		<header class="header-area clearfix">
			<div class="nav-close">
				<i class="fas fa-times" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<a href="index.html"><img src="img/solaria.png" alt="" style="width: 65px"></a>
			</div>
			<div style="padding-top: 150px;">
				<h4 id="greetings"></h4>
			</div>
			<nav class="amado-nav" style="margin-top: 30px">
				<ul>
					<li class="active"><a href="/app/menus">Menu</a></li>
					<li><a href="/app/viewOrder">Cart</a></li>
				</ul>
			</nav>
		</header>

		<div class="col bg-n-white1" id="myTab">
			<div class="sticky-offset">
				<div class="widget catagory mb-50 mt-5">
					<h6 class="widget-title" style="margin-left:20px;">Catagories</h6>
					<div class="catagories-menu">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#express_bowl">Express Bowl</a></li>
							<li class="nav-item"><a href="#spesial" data-ajax="false">Spesial</a></li>
							<li class="nav-item"><a href="#mie" data-ajax="false">Mie</a></li>
							<li class="nav-item"><a href="#minuman" data-ajax="false">Minuman</a></li>
							<li class="nav-item"><a href="#snack" data-ajax="false">Snack</a></li>
							<li class="nav-item"><a href="#lain" data-ajax="false">Lainnya</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div id="express_bowl" class="mt-1">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Express Bowl</li>

				</ul>
			</div>
			<div id="spesial">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Spesial</li>

				</ul>
			</div>
			<div id="mie">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Mie</li>

				</ul>
			</div>
			<div id="minuman">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Minuman</li>

				</ul>
			</div>
			<div id="snack">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Snack</li>

				</ul>
			</div>
			<div id="lain">
				<ul id="menusListView">
					<li data-role="list-divider" class="cat-space">Lainnya</li>

				</ul>
			</div>
		</div>

	</div>

	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
	<script>
		let mDate = new Date();
		var hour = mDate.getHours();
		var greet;

		if (hour < 12)
			greet = 'Good morning.';
		else if (hour >= 12 && hour <= 17)
			greet = 'Good afternoon.';
		else if (hour >= 17 && hour <= 24)
			greet = 'Good evening.';

		document.getElementById('greetings').innerHTML = greet;
	</script>
</body>

</html>