<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery Mobile: Theme Download</title>
	<link rel="stylesheet" href="http://localhost:9000/app/themes/pertemuan2.min.css" />
	<link rel="stylesheet" href="http://localhost:9000/app/themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://localhost:9000/app/scripts/view_order.js"></script>
</head>
<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>Your Order</h1>
		</div>



		<!-- <div data-role="tabs" id="tabs"> -->

			<!-- 
				TODO:
				
				Refactor this mess into programmatically generated tabs! 
				Current implementation is very mesy and prone to bugs when new categories added or removed.
			-->

			<div id="cart" >
				<div data-role="content" data-theme="a">
					<ul data-role="listview" data-inset="true" id="menusListView">
						
						
					</ul>
				</div>
            </div>
            
	  	</div>

		<!--  -->
	</div>
</body>
</html>